#icd-modal__container {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: none; 
    left: 0;
    right: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 2147483647;
}

#icd-modal__container.icd-modal__container--dev-mode {
    display: block;
}

/* dark styles */
#icd-modal__container.icd-modal__container--dark #icd-modal__intro.icd-modal__intro--bg-style,
#icd-modal__container.icd-modal__container--dark select.hs-input, 
#icd-modal__container.icd-modal__container--dark .hs-form-field textarea, 
#icd-modal__container.icd-modal__container--dark input[type="text"], 
#icd-modal__container.icd-modal__container--dark input[type="email"], 
#icd-modal__container.icd-modal__container--dark input[type="number"], 
#icd-modal__container.icd-modal__container--dark input[type="file"] {
    background: #333333; 
}

#icd-modal__container.icd-modal__container--dark #icd-modal__intro.icd-modal__intro--bg-style {
    border-bottom: 1px solid #494949;
}

#icd-modal__container.icd-modal__container--dark select.hs-input, 
#icd-modal__container.icd-modal__container--dark .hs-form-field textarea, 
#icd-modal__container.icd-modal__container--dark input[type="text"], 
#icd-modal__container.icd-modal__container--dark input[type="email"], 
#icd-modal__container.icd-modal__container--dark input[type="number"], 
#icd-modal__container.icd-modal__container--dark input[type="file"] {
    border-bottom: #333333 2px solid;
}

#icd-modal__container.icd-modal__container--dark #icd-modal__headline, 
#icd-modal__container.icd-modal__container--dark #icd-modal__subhead, 
#icd-modal__container.icd-modal__container--dark .hs-form-field label, 
#icd-modal__container.icd-modal__container--dark select.hs-input, 
#icd-modal__container.icd-modal__container--dark .hs-form-field textarea, 
#icd-modal__container.icd-modal__container--dark input {
    color: #d6d2c7;
    letter-spacing: 1px;
    font-weight: 300;
}

#icd-modal__container.icd-modal__container--dark #icd-modal__form,
#icd-modal__container.icd-modal__container--dark #icd-modal__intro, 
#icd-modal__container.icd-modal__container--dark #icd-modal__cta-wrapper {
    background: #3A3A3A;
}

#icd-modal__container.icd-modal__container--dark #icd-modal__child.icd-modal__no-padding #icd-modal__cta-wrapper {
    background: transparent;
}

#icd-modal__container.icd-modal__container--dark #icd-modal__child.icd-modal__no-padding .cta_button {
    margin: 0 0 !important;
}

#icd-modal__container.icd-modal__container--dark div.hs_submit div.actions input {
    background: #23b08d; /* darker green */
}

/* light styles */
#icd-modal__container.icd-modal__container--light #icd-modal__intro.icd-modal__intro--bg-style {
    background: #f7f7f7;
}

#icd-modal__container.icd-modal__container--light #icd-modal__intro.icd-modal__intro--bg-style {
    border-bottom: 1px solid #e0e0e0;
}

#icd-modal__container.icd-modal__container--light select.hs-input, 
#icd-modal__container.icd-modal__container--light .hs-form-field textarea, 
#icd-modal__container.icd-modal__container--light input[type="text"], 
#icd-modal__container.icd-modal__container--light input[type="email"], 
#icd-modal__container.icd-modal__container--light input[type="number"], 
#icd-modal__container.icd-modal__container--light input[type="file"] {
    background: #eaeaea;
    border-bottom: #eaeaea 2px solid;
}

#icd-modal__container.icd-modal__container--light #icd-modal__headline, 
#icd-modal__container.icd-modal__container--light #icd-modal__subhead, 
#icd-modal__container.icd-modal__container--light .hs-form-field label, 
#icd-modal__container.icd-modal__container--light select.hs-input, 
#icd-modal__container.icd-modal__container--light .hs-form-field textarea, 
#icd-modal__container.icd-modal__container--light input {
    color: #4f4f4f;
    letter-spacing: .7px;
    font-weight: 400;
}

#icd-modal__container.icd-modal__container--light #icd-modal__form,
#icd-modal__container.icd-modal__container--light #icd-modal__intro,
#icd-modal__container.icd-modal__container--light #icd-modal__cta-wrapper {
    background: #fff;
}

#icd-modal__container.icd-modal__container--light #icd-modal__child.icd-modal__no-padding #icd-modal__cta-wrapper {
    background: transparent;
}

#icd-modal__container.icd-modal__container--light #icd-modal__child.icd-modal__no-padding .cta_button {
    margin: 0 0 !important;
}

#icd-modal__container.icd-modal__container--light div.hs_submit div.actions input {
    background: #00c997; /* green */
}

/* general styles */
#icd-modal__container * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#icd-modal__text-container * {
    text-align: center;
}

#icd-modal__parent {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icd-modal__child {
    background-color: #fff;
    border-radius: 3px;
    width: 60%;
    max-width: 700px;
    margin: 50px 0;
    position: relative;
}

#icd-modal__child.icd-modal__no-padding {
    background-color: transparent;
    width: auto;
    max-width: none;
}

/* variations for header section */
#icd-modal__intro {
    padding: 70px 100px 0 100px;
    overflow: hidden;
}

#icd-modal__intro.icd-modal__intro--bg-style {
    padding: 70px 100px 30px 100px;
    overflow: hidden;
}

#icd-modal__intro.icd-modal__intro--left-align {
    text-align: left;
}

#icd-modal__intro.icd-modal__intro--center-align {
    text-align: center;
}

#icd-modal__form, #icd-modal__cta-wrapper {
    padding: 0 100px 70px 100px;
}

#icd-modal__cta-wrapper {
    padding-top: 30px;
}

#icd-modal__cta-wrapper.icd-modal__no-intro {
    padding-top: 70px;
}

#icd-modal__child.icd-modal__no-padding #icd-modal__cta-wrapper {
    padding: 0 0;
}

#icd-modal__child.icd-modal__no-padding #icd-modal__intro {
    display: none;
}

#icd-modal__child.icd-modal__no-padding #icd-modal__close-x {
    padding: 13px 30px;
    right: -30px;
    top: -40px;
}

#icd-modal__close-x {
    padding: 20px 30px;
    right: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    font-size: 12px;
    color: #9e9e9e;
}

#icd-modal__headline {
    margin: 0 0;
    font-size: 28px;
}

#icd-modal__subhead {
    margin: 20px 0 10px 0;
    font-size: 16px;
}

/* padding on entire form */
#icd-modal__container .hbspt-form {
    padding: 10px 0;
}

/* make all form fields 100% */
#icd-modal__container select.hs-input, 
#icd-modal__container .hs-form-field textarea, 
#icd-modal__container input[type="text"], 
#icd-modal__container input[type="email"],
#icd-modal__container input[type="number"],
#icd-modal__container input[type="file"] {
    margin: 5px 0;
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 10px 20px;
    position: relative;
    font-size: 14px;
    border: none;
    border-bottom: #eaeaea 2px solid; 
}

/* focus styles for all fields */
#icd-modal__container select.hs-input:focus, 
#icd-modal__container .hs-form-field textarea:focus, 
#icd-modal__container input[type="text"]:focus, 
#icd-modal__container input[type="email"]:focus,
#icd-modal__container input[type="number"]:focus,
#icd-modal__container input[type="file"]:focus {
    outline: none;
    border-bottom: #00c997 2px solid; /* green */
}

/* label styles for all fields */
#icd-modal__container .hs-form-field > label {
    font-size: 14px;
    margin-top: 20px;
    display: block;
}

#icd-modal__container .hs-form-field span.hs-form-required {
    padding-left: 3px;
}

/*error styles for all fields*/
#icd-modal__container .hs-form-field ul.hs-error-msgs.inputs-list {
    margin: 0 0;
    padding: 0 0;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

#icd-modal__container .hs-form-field ul.hs-error-msgs.inputs-list label {
    color: #c92500; /* red */
}

#icd-modal__container select.hs-input.error, #icd-modal__container select.hs-input.invalid, 
#icd-modal__container .hs-form-field textarea.error, #icd-modal__container .hs-form-field textarea.invalid, 
#icd-modal__container input[type="text"].error, #icd-modal__container input[type="text"].invalid, 
#icd-modal__container input[type="email"].error, #icd-modal__container input[type="email"].invalid {
    border-bottom: #c92500 2px solid; /* red */
}

/* list styles for checkboxes or radio buttons */
#icd-modal__container .hs-form-field ul.inputs-list {
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
    font-size: 14px;
}

#icd-modal__container .hs-form-field ul.inputs-list li {
    padding: 3px 0;
}

#icd-modal__container .hs-form-field ul.inputs-list li:first-child {
    padding-top: 0;
}

#icd-modal__container .hs-form-field ul.inputs-list li:last-child {
    padding-bottom: 0;
}

#icd-modal__container .hs-form-field ul.inputs-list input {
    margin-right: 15px;
}

/* dropdown field styles */
#icd-modal__container select.hs-input {
    height: 38px;
}

/* textarea styles */
#icd-modal__container .hs-form-field textarea {
    height: 60px;
}

#icd-modal__container div.hs_submit div.actions input {
    width: 100%;
    margin: 30px 0 0 0;
    border: none;
    background: #00c997; /* green */
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    padding: 11px 20px;
    color: #fff;
}

#icd-modal__container div.hs_submit div.actions input:focus {
    outline: none;
}

@media (max-width: 740px) {
    #icd-modal__child {
        width: auto;
        max-width: 100%;
        margin: 50px 20px;
        min-width: 500px;
    }
    #icd-modal__form, #icd-modal__cta-wrapper {
        padding: 0 40px 50px 40px;
    }
    #icd-modal__cta-wrapper.icd-modal__no-intro {
        padding-top: 50px;
    }
    #icd-modal__intro.icd-modal__intro--bg-style {
        padding: 50px 40px 30px 40px;
    }
    #icd-modal__intro {
        padding: 50px 40px 0 40px;
    }
}
@media (max-width: 580px) {
    #icd-modal__child {
        width: auto;
        min-width: 300px;
    }
    #icd-modal__form, #icd-modal__cta-wrapper {
        padding: 0 30px 50px 30px;
    }
    #icd-modal__cta-wrapper.icd-modal__no-intro {
        padding-top: 30px;
    }
    #icd-modal__intro.icd-modal__intro--bg-style {
        padding: 50px 30px 30px 30px;
    }
    #icd-modal__intro {
        padding: 50px 30px 0 30px;
    }
}